<%- include('./partials/head') %>

<body class="bg-orange-100 josef" style="">
    <div class=" h-screen w-screen flex">
            <div class="m-auto px-4 grid md:grid-cols-2">
                <div class="flex flex-col md:mb-0 mb-20">
                    <h1 class="text-9xl font-bold">
                        Hi,
                    </h1>
                    <h3 class="text-8xl ">
                        I'm Neev
                    </h3>
                </div>
                <div class="flex">
                    <div class="mx-auto">
                        <img src="img/porsche.png" class="w-full">
                        <h1 class="italic text-3xl font-semibold text-center">I like cars.</h1>
                    </div>
                </div>
            </div>
    </div>


     


</body>